@import '~node_modules/modern-normalize/modern-normalize.css';
.hidden {
    position: absolute;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
}
.section {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

body{
    overflow-x: hidden;
    background-image: linear-gradient(to right,
            #16A085,
            #F4D03F 25%,
            #20BDFF 50%,
            #A5FECB 75%,
            #f506fd 100%);
        };

