.form-section{
    position: fixed;
    z-index: 100;
   top:0px;
left:30%
}

.search-form{
display: inline-flex;
align-items: center;
background-image: linear-gradient(45deg,rgb(110, 214, 255),
    rgb(231, 216, 11));
    color: #070730;
    opacity: 0.9;
    padding-left: 6px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 12px;
    border-radius: 4px;
    border: 3px solid #3c67e3;
    box-shadow: 15px 20px 25px #5ddcff;
}



.search-form :is(input, button){
    background: transparent;
    color: inherit;
    border: none;
    outline: none;
}

.search-form>input{

font-size: 24px;
width:0;
transition: width 0.5s;
}

.search-form>input::placeholder{
    color:black;
}


.search-form>button{
display: grid;
place-items: center;
width: 25px;
height: 25px;
cursor: pointer;
transition: color .25s;
}


.search-form:focus-within input{
    width: 500px;
}


